{% block quill_widget %}
    {%- set dataController = (attr['data-controller']|default('') ~ ' quill')|trim -%}

{#    <script src="//cdn.quilljs.com/1.3.7/quill.js"></script>#}
{#    <link href="//cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet">#}

    <div class="quill-container"
         data-controller="{{ dataController }}"
         data-quill-toolbar-options-value="{{ attr['quill_options'] }}"
         data-quill-extra-options-value="{{ attr['quill_extra_options'] }}"
    >
        <textarea style="display: none" {{ block('widget_attributes') }}
                  data-quill-target="input"
        >
            {{ value|raw|sanitize_html }}
        </textarea>

        <div>
            <div class="quill-editor"
                 data-quill-target="editorContainer"
            >
                {{ value|raw|sanitize_html }}
            </div>
        </div>
    </div>
{% endblock %}
